:root {
    --smash-blue: #248BFF;
    --smash-red: #FF3232;
    --smash-green: #00FF00;
    --smash-yellow: #FFFF00;
    --smash-gray: #ACACAC;
    --smash-light-blue: #9EBFFA;
    --smash-light-red: #FA9F9F;
    --smash-light-green: #00FF00;
    --smash-light-yellow: #FFFF00;
    --smash-light-gray: #ACACAC;
}
